/*------ NULL*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#main {
  min-width: 100%;
  min-height: 100vh;
  background: #ecffcb;
  background: linear-gradient(170deg, #ecffcb 0%, #49deab 100%);
}

.timetable__wrapper {
  max-width: 1700px;
  padding: 60px 20px;
  margin: 0 auto;
}

.timetable__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.timetable__clas-name {
  font-size: 48px;
  font-weight: bold;
  color: #F66B47;
}

.timetable__day {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 10px;
}

.day {
  padding: 20px;
  border: 1px solid #cfcfcf;
  background: #ffffff78;
}

.day__title {
  font-size: 24px;
  font-weight: bold;
  color: #F66B47;
  padding: 0 0 10px 0;
  text-align: left;
}

.day__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #d1d1d1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.day__lesson-info {
  line-height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 20px);
          flex: 0 0 calc(100% - 20px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.day__lesson-info-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.day__lesson-number {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  font-size: 20px;
  font-weight: bold;
  color: #f66b47;
}

.day__lesson-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 20px);
          flex: 0 0 calc(100% - 20px);
  border-bottom: 1px solid #b5b5b5;
  padding: 5px 0;
}

.day__lesson-info-block:last-child {
  border-bottom: none;
}
/*# sourceMappingURL=style.css.map */