// < fonts ==================================================
@import "fonts.scss";

// < breakPionts ============================================

$md: 'max-width: 1199px';
$sd: 'max-width: 991px';
$tb: 'max-width: 767px';
$ph: 'max-width: 480px';

// < null settings ==========================================
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


//< main blocks ==============================================

.main-container {
    overflow: hidden;
    max-width: 100vw;
}

.btn {
    display: block;
    width: 190px;
    height: 50px;
    border-radius: 3px;
    background-color: #ff6d6d;
    color: #ffffff;
    font-family: Exo;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border: 1px solid #ff6d6d;

    &--small {
        width: 50px;
    }
}

.ibg {
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 20px;
    position: relative;

    &--full {
        padding: 0;
    }
}

.text-block {
    &__subtitle {
        color: #ff6d6d;
        font-family: Exo;
        font-size: 16px;
        font-weight: 500;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 3.2px;

        @media screen and ($md) {
            font-size: 14px;
            line-height: 30px;
        }

    }

    &__title {
        color: #282828;
        font-family: Exo;
        font-size: 40px;
        font-weight: 500;
        line-height: 50px;
        letter-spacing: 1.6px;

        span {
            color: #ff6d6d;
        }

        &--w {
            color: #fff;
        }

        @media screen and ($md) {
            font-size: 35px;
        }

        @media screen and ($tb) {
            font-size: 30px;
            line-height: 40px;
        }
    }

    &__text {
        margin-top: 40px;
        opacity: 0.66;
        color: #282828;
        font-family: Exo;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.64px;

        @media screen and ($md) {
            font-size: 14px;
        }

        @media screen and ($ph) {
            font-size: 13px;
        }

        p {
            margin-top: 35px;
        }
    }
}


.content {
    max-width: 1200px;
    margin: 0 auto;

    &--left {}
}


//< main ==========================================================


.main {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: -webkit-box;
    display: flex;

    overflow: hidden;

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            min-width: 100%;
            min-height: 100%;
        }
    }

    &__container {
        width: 100%;
    }

    &__content {
        position: relative;
        z-index: 2;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;
        //align-content: center;
        -webkit-box-pack: center;
                justify-content: center;
        max-width: 750px;
        height: 100%;
        margin: 0 auto;

    }

    &__title {
        font-family: "exo";
        font-size: 60px;
        font-weight: 100;
        line-height: 75px;
        letter-spacing: 2.4px;
        text-align: center;

        @media ($md) {
            font-size: 50px;
            line-height: 55px;
        }

        @media screen and ($sd) {
            font-size: 40px;
            line-height: 45px;
        }

        @media screen and ($tb) {
            font-size: 35px;
            line-height: 40px;
        }

        @media screen and ($ph) {
            font-size: 30px;
            line-height: 40px;
        }
    }

    &__video-control {
        margin-top: 40px;
    }

    &__button {
        margin-top: 40px;
    }

    &__button-subtitle {
        opacity: 0.8;
        color: #282828;
        font-family: "exo";
        font-size: 14px;
        font-weight: 400;
        line-height: 75px;
        letter-spacing: 0.56px;
    }
}


//< new-design ====================================================

.new-design {

    &__container {
        display: -webkit-box;
        display: flex;
        height: 800px;
        width: 100%;



        @media screen and ($tb) {
            height: auto;
            min-height: 600px;
            padding: 0 20px;
        }

        @media screen and ($ph) {
            height: auto;
            padding: 40px 0;
        }

    }

    &__column {
        display: -webkit-box;
        display: flex;
        padding: 20px;
        box-sizing: border-box;

        &--1 {
            -webkit-box-flex: 0;
                    flex: 0 0 60%;
            -webkit-box-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                    align-items: center;

            @media screen and ($sd) {
                -webkit-box-flex: 0;
                        flex: 0 0 100%;
            }

            @media screen and ($tb) {
                padding: 40px 20px;
            }
        }

        &--2 {

            display: -webkit-box;

            display: flex;
            -webkit-box-flex: 0;
                    flex: 0 0 40%;
            background-color: #ececec;
            position: relative;
            max-width: 40%;
            -webkit-box-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                    align-items: center;
            background: rgb(236, 236, 236);
            background: linear-gradient(123deg, #ececec 46%, #fb8686 46%);

            @media screen and ($sd) {
                display: none;
            }

        }
    }

    &__image {

        max-width: 60%;
        max-height: 60%;
        position: relative;
        overflow: hidden;
        z-index: 2;
        box-shadow: 0 0 45px rgba(0, 0, 0, 0.704);

        img {
            max-width: 100%;
            max-height: 100%;

        }
    }


    &__content {
        max-width: 570px;
    }

}


//< features ======================================================


.features {

    &__container {
        padding: 150px 20px 180px 20px;
        background-color: #f6f5f3;
        background-image: url(/img/features/bacground/01.png), url(/img/features/bacground/02.png);
        background-repeat: no-repeat;
        background-position: 10% 0, 92% -2%;

        @media screen and ($tb) {
            background-image: unset;
            padding: 80px 20px 100px 20px;
        }

    }

    &__text-block {
        text-align: center;
    }

    &__content {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin-top: 80px;

        @media screen and ($tb) {
            flex-wrap: wrap;
            margin-top: 40px;
        }

        @media screen and ($ph) {
            flex-wrap: wrap;
            margin-top: 10px;
        }
    }

    &__item {
        @media screen and ($tb) {
            margin-top: 30px;
        }
    }
}

.feature-item {
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    padding: 0 22px;

    @media screen and ($tb) {
        max-width: 400px;
    }

    &__img {

        img {
            max-width: 100%;
        }
    }

    &__title {
        margin-top: 20px;
        color: #282828;
        font-family: Exo;
        font-size: 22px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.88px;

        @media screen and ($sd) {
            font-size: 18px;
            line-height: 20px;
        }

        @media screen and ($ph) {
            font-size: 16px;
            line-height: 18px;
        }

    }

    &__text {
        margin-top: 15px;
        opacity: 0.66;
        color: #282828;
        font-family: Exo;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.64px;

        @media screen and ($sd) {
            font-size: 14px;
            line-height: 24px;
        }

        @media screen and ($ph) {
            font-size: 13px;
            line-height: 22px;
        }
    }
}


//< responsive ==============================================

.responsive {

    &__container {
        min-height: 550px;
        display: -webkit-box;
        display: flex;
        width: 100%;

        @media screen and ($sd) {
            flex-wrap: wrap;
        }

        @media screen and ($tb) {
            height: auto;
            padding: 0;
        }

        @media screen and ($ph) {
            height: auto;
        }

    }

    &__column {
        display: -webkit-box;
        display: flex;
        padding: 20px;
        box-sizing: border-box;


        &--1 {

            display: -webkit-box;

            display: flex;
            -webkit-box-flex: 0;
                    flex: 0 0 50%;
            background-color: #fff;
            position: relative;
            -webkit-box-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                    align-items: center;
            background: linear-gradient(225deg, #fff 46%, #fb8686 46%);

            @media screen and ($sd) {
                -webkit-box-flex: 0;
                        flex: 0 0 100%;
                -webkit-box-ordinal-group: 3;
                        order: 2;
            }

        }

        &--2 {
            -webkit-box-flex: 0;
                    flex: 0 0 50%;
            -webkit-box-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                    align-items: center;

            box-sizing: border-box;

            @media screen and ($sd) {
                -webkit-box-flex: 0;
                        flex: 0 0 100%;
                -webkit-box-ordinal-group: 2;
                        order: 1;
                padding: 120px 40px;
            }

            @media screen and ($tb) {}
        }


    }

    &__demo {
        max-width: 630px;

        img {
            max-width: 100%;
        }
    }

    &__text-block {
        max-width: 570px;
    }

}



//< about ==============================================

.about {

    &__container {
        background: url(/img/about/background/01.png) center no-repeat;
        background-size: cover;
        padding: 110px 0 90px 0;
    }

    &__staff {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;

        @media screen and ($tb) {
            flex-wrap: wrap;
            margin-top: 40px;
        }

        @media screen and ($ph) {
            flex-wrap: wrap;
            margin-top: 10px;
        }
    }

    &__partners-block {
        margin-top: 80px;
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        -webkit-box-align: center;
                align-items: center;
    }

    &__partner {
        -webkit-box-flex: 0;
                flex: 0 0 20%;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;

        img {
            max-width: 100%;
        }

        @media screen and ($tb) {
            -webkit-box-flex: 0;
                    flex: 0 0 50%;
        }
    }
}


.staff-item {
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    padding: 0 40px;
    -webkit-box-align: center;
            align-items: center;

    @media screen and ($tb) {
        max-width: 400px;
        -webkit-box-ordinal-group: 3;
                order: 2;
        margin: 20px 0;
        padding: 0;

    }

    &--boss {

        @media screen and ($tb) {
            -webkit-box-ordinal-group: 2;
                    order: 1;
        }
    }


    &__img {
        max-width: 150px;

        img {
            max-width: 100%;
        }

        &--boss {
            max-width: 200px;
        }

        @media screen and ($tb) {
            max-width: 50%;
        }
    }

    &__name {
        margin-top: 25px;
        color: #ffffff;
        font-family: Exo;
        font-size: 22px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.88px;
    }

    &__post {
        margin-top: 14px;
        color: #ff6d6d;
        font-family: Exo;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
    }

    &__text {
        margin-top: 35px;
        opacity: 0.66;
        color: #ffffff;
        font-family: "exo Regular Italic";
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.64px;
    }
}



//< feature-demo ==============================================




.feature-demo {

    &__container {
        padding: 100px 0 0 0;
    }

    &__content {}

    &__text-block {
        text-align: center;
        max-width: 650px;
        margin: 0 auto;
        padding: 0 20px;
    }


    &__mockup-img {
        max-width: 750px;
        margin: 0 auto;
        margin-top: 108px;
        position: relative;

        img {
            max-width: 100%;
            vertical-align: middle;
        }
    }
}

//< signup ==============================================

.signup {

    &__container {
        padding: 95px 20px 80px 20px;
        background-color: #323969;
    }

    &__title {
        text-align: center;
    }

    &__form {
        margin-top: 90px;

        @media screen and ($tb) {
            margin-top: 40px;
        }
    }
}



.signup-form {

    &__form {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        justify-content: space-around;

        @media screen and ($tb) {
            flex-wrap: wrap;
        }

    }

    &__input {
        opacity: 0.9;
        display: block;
        border-radius: 3px;
        border: 1px solid #ffffff;
        background-color: rgba(255, 255, 255, 0.2);
        color: #ffffff;
        font-family: Exo;
        font-size: 16px;
        font-weight: 400;
        line-height: 50px;
        text-transform: uppercase;
        letter-spacing: 3.2px;
        text-align: center;
        -webkit-box-flex: 0;
                flex: 0 0 22%;


        &::-webkit-input-placeholder {
            color: #ffffff;
            font-family: Exo;
            font-size: 16px;
            font-weight: 400;
            line-height: 50px;
            text-transform: uppercase;
            letter-spacing: 3.2px;
            text-align: center;
        }


        &::-moz-placeholder {
            color: #ffffff;
            font-family: Exo;
            font-size: 16px;
            font-weight: 400;
            line-height: 50px;
            text-transform: uppercase;
            letter-spacing: 3.2px;
            text-align: center;
        }


        &:-ms-input-placeholder {
            color: #ffffff;
            font-family: Exo;
            font-size: 16px;
            font-weight: 400;
            line-height: 50px;
            text-transform: uppercase;
            letter-spacing: 3.2px;
            text-align: center;
        }


        &::-ms-input-placeholder {
            color: #ffffff;
            font-family: Exo;
            font-size: 16px;
            font-weight: 400;
            line-height: 50px;
            text-transform: uppercase;
            letter-spacing: 3.2px;
            text-align: center;
        }


        &::placeholder {
            color: #ffffff;
            font-family: Exo;
            font-size: 16px;
            font-weight: 400;
            line-height: 50px;
            text-transform: uppercase;
            letter-spacing: 3.2px;
            text-align: center;
        }


        @media screen and ($tb) {
            margin-top: 20px;
            -webkit-box-flex: 0;
                    flex: 0 0 100%;
        }
    }

    &__signup-btn {
        -webkit-box-flex: 0;
                flex: 0 0 22%;

        box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);

        @media screen and ($tb) {
            -webkit-box-flex: 0;
                    flex: 0 0 100%;
            margin-top: 20px;
        }
    }

    &__terms {
        text-align: center;
        margin-top: 50px;

        @media screen and ($tb) {
            margin-top: 10px;
        }
    }

    &__terms,
    &__terms-href {
        opacity: 0.6;
        color: #f6f5f3;
        font-family: Exo;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.64px;

    }

    &__terms-href {
        text-decoration: underline;

    }

    &__terms-href:hover {
        color: #ff6d6d;
        opacity: 1;
    }
}


//< footer ==============================================

.footer {
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 20%;
        background: transparent;
        background: linear-gradient(123deg, #fff0 46%, #fb8686 46%);

        @media screen and ($md) {
            content: none;
        }

    }

    &__container {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-pack: start;
                justify-content: start;
        padding: 80px 0 100px 0;


        @media screen and ($md) {
            -webkit-box-pack: space-evenly;
                    justify-content: space-evenly;
        }

        @media screen and ($sd) {
            flex-wrap: wrap;
        }
        @media screen and ($sd) {
            padding-bottom: 0;
        }

    }

    &__column {
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        min-width: 10%;
        max-width: 22%;
        padding: 0 30px;

        @media screen and ($sd) {
            max-width: 33%;
            margin-bottom: 40px;
        }

        @media screen and ($tb) {
            min-width: 80%;
        }

        @media screen and ($tb) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column;
            -webkit-box-align: center;
                    align-items: center;
            text-align: center;
        }

    }

    &__logo {
        max-width: 100%;

        img {
            max-width: 100%;
        }
    }

    &__contacts {
        opacity: 0.56;
        color: #282828;
        font-family: Exo;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.56px;
    }

    &__title {
        color: #282828;
        font-family: Exo;
        font-size: 22px;
        font-weight: 500;
        line-height: 49.97px;
        letter-spacing: 0.88px;
    }

    &__list {
        list-style: none;
    }

    &__list-item {
        opacity: 0.66;
        color: #282828;
        font-family: Exo;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.56px;
    }

    &__href {

        &:hover {
            color: #ff6d6d;
            opacity: 1;
        }
    }

    &__subscribe-form {
        display: -webkit-box;
        display: flex;
        -webkit-box-flex: 0;
    }

    &__input {
        opacity: 0.9;
        display: block;
        border-radius: 3px;
        color: #a1a1a1;
        font-family: Exo;
        font-size: 16px;
        font-weight: 400;
        height: 50px;
        line-height: 50px;
        text-transform: uppercase;
        letter-spacing: 3.2px;
        text-align: center;
        border: 1px solid #b8b8bf;
        background-color: #f6f6f6;
        box-sizing: border-box;

        &::-webkit-input-placeholder {
            color: #a1a1a1;
            font-family: Exo;
            font-size: 16px;
            font-weight: 400;
            line-height: 48px;
            height: 50px;
            text-transform: uppercase;
            letter-spacing: 3.2px;
            text-align: center;

        }

        &::-moz-placeholder {
            color: #a1a1a1;
            font-family: Exo;
            font-size: 16px;
            font-weight: 400;
            line-height: 48px;
            height: 50px;
            text-transform: uppercase;
            letter-spacing: 3.2px;
            text-align: center;

        }

        &:-ms-input-placeholder {
            color: #a1a1a1;
            font-family: Exo;
            font-size: 16px;
            font-weight: 400;
            line-height: 48px;
            height: 50px;
            text-transform: uppercase;
            letter-spacing: 3.2px;
            text-align: center;

        }

        &::-ms-input-placeholder {
            color: #a1a1a1;
            font-family: Exo;
            font-size: 16px;
            font-weight: 400;
            line-height: 48px;
            height: 50px;
            text-transform: uppercase;
            letter-spacing: 3.2px;
            text-align: center;

        }

        &::placeholder {
            color: #a1a1a1;
            font-family: Exo;
            font-size: 16px;
            font-weight: 400;
            line-height: 48px;
            height: 50px;
            text-transform: uppercase;
            letter-spacing: 3.2px;
            text-align: center;

        }
    }

    &__subscribe-btn {
        position: relative;
        display: block;
        border: 1px solid #ff6d6d;
        margin-left: -3px;
        -webkit-box-flex: 0;
                flex: 0 0 50px;

        img {
            display: block;
            max-width: 50%;
            min-width: 50%;
            margin: 0 auto;
        }
    }

    &__social {
        margin-top: 20px;
        text-align: center;
    }

    &__social-item {
        width: 50px;
        height: 50px;
        display: inline-block;
    }

    &__social-href {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        filter: grayscale(1);
        &:hover{
            filter: grayscale(0);
            -webkit-filter: grayscale(0);
}

        img{

            max-width: 100%;
        }
    }
}