<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="preloader" v-if="preloaderStart">
            <div class="preloader__overlay">
                <div class="preloader__container">
                    <div id="preloader">
                        <div id="loader"></div>
                    </div>
                </div>
            </div>
        </div>
        <header class="header">
            <div class="header__container">
                <div class="header__content">
                    <div class="header__account">
                        <div class="header__account-icon"><img src="img/user.png" alt=""></div>
                        <div class="header__account-name">{{adminName}}</div>
                        <div class="header__account-open-button"></div>
                    </div>
                    <div class="header__account-select"></div>
                </div>
            </div>
        </header>
        <aside class="aside">
            <div class="aside__logo"></div>
            <nav class="nav">
            </nav>
        </aside>
        <div class="content">
            <div class="content__title">
                <h1>Таблица для внесения данных</h1>
            </div>
            <div class="content__filter-contetn filter">
                <div class="filter__content">
                    <div class="filter__title">
                        <ul class="filter__title-list">
                            <li class="filter__title-item" @click="selectFilter('class')" v-bind:class="{'filter__title-item--active':filterSelect.class}">
                                <h2>Классы</h2>
                            </li>
                            <li class="filter__title-item" @click="selectFilter('days')" v-bind:class="{'filter__title-item--active':filterSelect.days}">
                                <h2>Дни</h2>
                            </li>
                            <li class="filter__title-item" @click="selectFilter('lessons')" v-bind:class="{'filter__title-item--active':filterSelect.lessons}">
                                <h2>Уроки</h2>
                            </li>
                            <li class="filter__title-item" @click="selectFilter('subject')" v-bind:class="{'filter__title-item--active':filterSelect.subject}">
                                <h2>Предметы</h2>
                            </li>
                        </ul>
                    </div>
                    <div class="filter__items">
                        <div class="filter__container">
                            <div class="filter__wrapper">
                                <div v-for="klass in classes" v-if="filterSelect.class" v-bind:class="{'filter__item--active': (classFilterArr.indexOf(klass[1]) >= 0)}" @click="addFilter('classFilterArr',klass[1])" class="filter__item">{{klass[1]}}</div>
                                <div v-for="day in days" v-if="filterSelect.days" v-bind:class="{'filter__item--active': (dayFilterArr.indexOf(day[1]) >= 0)}" @click="addFilter('dayFilterArr',day[1])" class="filter__item">{{day[1]}}</div>
                                <div v-for="lesson in lessons" v-if="filterSelect.lessons" v-bind:class="{'filter__item--active': (lessonsFilterArr.indexOf(lesson[1]) >= 0)}" @click="addFilter('lessonsFilterArr',lesson[1])" class="filter__item">{{lesson[1]}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table">
                <div class="table__edit-text">{{editText}}</div>
                <table class="table__table">
                    <thead>
                        <tr class="table__row table__row--head">
                            <th class="table__cell table__cell--head" id>id</th>
                            <th class="table__cell table__cell--head">Дата</th>
                            <th class="table__cell table__cell--head">День</th>
                            <th class="table__cell table__cell--head">Клас</th>
                            <th class="table__cell table__cell--head">Урок</th>
                            <th class="table__cell table__cell--head">Время проведения</th>
                            <th class="table__cell table__cell--head">Предмет</th>
                            <th class="table__cell table__cell--head">Учитель</th>
                            <th class="table__cell table__cell--head">посилання на ефір</th>
                            <th class="table__cell table__cell--head">роз'яснення вчителя</th>
                            <th class="table__cell table__cell--head">посилання на д\з</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in all" v-if="checkFilter(item)" v-on:change="save(item)" class="table__row">
                            <td class="table__cell table__cell--empty">{{item[0]}}</td>
                            <td class="table__cell table__cell--empty">{{item[1]}}</td>
                            <td class="table__cell table__cell--empty">{{item[2]}}</td>
                            <td class="table__cell table__cell--empty">{{item[3]}}</td>
                            <td class="table__cell table__cell--empty">{{item[4]}}</td>
                            <td class="table__cell table__cell--empty">{{item[5]}}</td>
                            <td class="table__cell table__cell--empty">{{item[6]}}</td>
                            <td class="table__cell"><input onFocus="this.select()" class="table__cell-input" v-on:click="editTextChange(item[7])" type="text" v-model:value="item[7]"></td>
                            <td class="table__cell"><input onFocus="this.select()" class="table__cell-input" v-on:click="editTextChange(item[8])" type="text" v-model:value="item[8]"></td>
                            <td class="table__cell"><input onFocus="this.select()" class="table__cell-input" v-on:click="editTextChange(item[9])" type="text" v-model:value="item[9]"></td>
                            <td class="table__cell"><input onFocus="this.select()" class="table__cell-input" v-on:click="editTextChange(item[10])" type="text" v-model:value="item[10]"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="js/vue.js"></script>
</body>

</html>